import(Biobase)
import(BiocGenerics)
import(SummarizedExperiment)
import(Matrix)
import(methods)
importFrom(MatrixGenerics,colMeans)
importFrom(MatrixGenerics,colSums)
importFrom(MatrixGenerics,rowMeans)
importFrom(MatrixGenerics,rowSums)

import(tidyverse)
import(doParallel)
importFrom(reshape2, melt)
importFrom(lme4, glmer.nb, glmerControl)
importFrom(foreach, foreach, "%dopar%")
importFrom(utils, citation, toBibtex)
importFrom(stats, median)

export(miRglmm)